[submodule "OpenSourceContributions/Portfolio-1"]
	path = OpenSourceContributions/Portfolio-1
	url = https://github.com/Der12kl/Portfolio-1
[submodule "WebDevelopmentProjects/FrontendMentor/QRcodecomponent"]
	path = WebDevelopmentProjects/FrontendMentor/QRcodecomponent
	url = https://github.com/Der12kl/QRcodecomponent
	branch = main
[submodule "PersonalProjects/blog-card"]
	path = PersonalProjects/blog-card
	url = https://github.com/Der12kl/blog-card
	branch = main
